strong {
    color: #6d4c41;
}

body {
    margin: 0;
    padding-top: 0px;
    font-size:100%;
    text-align:center;
    font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
    background-color:#FFFDE7;
    padding-top:60px;
}

.list-group-item {
    font-size:100%;
    background-color:#FFFDE7;
}

.btn-warning1{
    color: #6d4c41;
    background: #fdd835;
    border-radius:5px;
    position: relative;
    top: 30px;
    border: 3px solid #6d4c41;
}

.btn-warning2{
    padding-top: 20px;
    padding-bottom: 20px;
    color: #6d4c41;
    background: #fdd835;
    border-radius:10px;
    position: relative;
}

.text{
    color: #FFFDE7;
}

.col-4{
    color: #6d4c41;
}
.fa-camera{
    color: #FFFDE7;
}

.border-bottom{
    border: 3px ridge #6d4c41;
}

.card-body {
    box-shadow: 2px 2px 3px 3px #cccccc;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin: 12px;
    text-align: center;
}

.form-control {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 24px;
}

.card {
    border-radius: 15px;
    padding: 5px; 
}

#meal {
    width:70px;
    height:70px;
    object-fit: fill;
    max-width:100%;
    max-height:100%;
}

.set{
    color: #6d4c41;
    font-size: 2.3em;
}

.home{
    color: #6d4c41;
    font-size: 2.8em;
}

.d-flex{
    margin-top: 8px;
    margin-left: 9px;
    margin-right: 9px;
}

/* .del-butt{
    background-color:#FFFDE7;
    width: 50px;
    height: 50px;
} */

#logout {
    text-align:center;

}

.del-butt {
    margin: 0 0 0 auto;
    margin-top: 20px;
    font-family: "ヒラギノ丸ゴ ProN";
    font-size: 12px;
    display: inline-block;
    text-decoration: none;
    background: #FF4848;
    color: #FFFde7;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #cf3b3b;
    transition: .4s;
  }


  .del-butt:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
    border-bottom: none;
}

.nt-weight-bold{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
