body{
  margin: 0;
  background-color:rgb(253, 253, 231);
}

header {
  height: 90px; /*ヘッター縦サイズ*/
  background-color:rgb(253, 216, 53);
  border:solid 5px rgb(109, 76, 65);
  position: fixed;
  border-right: transparent;
  border-left: transparent;
  border-top: transparent;
  text-align:center
}

#title{
  margin:0;
}

table{
  margin:auto;
}

h1{
  text-align: center;
}